VITE_HAES_PUBLIC_API_BASE_URL=https://haes.onrender.com
VITE_HAPOS_PUBLIC_API_BASE_URL=https://hapos.onrender.com
VITE_HARE_PUBLIC_API_BASE_URL=https://hares.onrender.com
VITE_CHURCH_LIB_PUBLIC_API_BASE_URL=https://church-lib.onrender.com
